<div layout="row" layout-align="center center">
    <md-card flex-gt-sm="90" flex-gt-md="80">
        <md-card-content>
            <h2>Latest</h2>
            <md-list>
                <post-directive ng-repeat="item in data | filter:search" model="item" ></post-directive>
                <md-divider></md-divider>
                <md-item layout class="inset">
                    <md-button layout layout-align="start center" flex class="md-primary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"/></svg> More
                    </md-button>
                </md-item>
            </md-list>
        </md-card-content>
    </md-card>
</div>
