<div class="register-directive">
	<div class="registration-header">Добро пожаловать. Бла бла Гомофобия!</div>
	<div class="registration-subheader">Некий подтекст которыпозднее обретет содержание</div>
	  <form name="form" class="registration-form" novalidate ng-submit="form.$valid && login.submit()" >
		  
			<input type="text" name="username" placeholder="Имя Использователя" ng-model="user.name" ng-minlength='5' ng-model-options="{ updateOn: 'blur' }" required/><br />
			<span style="font-size:2em" ng-show="!form.username.$valid && form.username.$dirty">Нр стесняйся, возми имя подлиннее!</span>
			
			<input type="text" name="email"  ng-pattern="emailPattern"  ng-model-options="{ updateOn: 'blur' }" ng-model="user.email" placeholder="Ё-маил" required /><br />			
			<span style="font-size:2em" ng-show="!form.email.$valid && form.email.$dirty">Я не верю что ето настояший пароль!</span>
			
			<input type="password" name="password" placeholder="Пароль" ng-pattern="passwordPattern" ng-model="user.password"  ng-model-options="{ updateOn: 'blur' }" required /><br />
			<span style="font-size:2em" ng-show="!form.password.$valid && form.password.$dirty">Пароль хотел бы иметь хотя быпо одной цифре, заглавной и маленькой букве, а еше иметь 8 символов</span>
			
			<input type="password"  name="password2" placeholder="Больше Паролей!" ng-model="user.password2" required
			ng-model-options="{ updateOn: 'blur' }" ui-validate=" '$value==user.password || form.password2.$pristine' "  ui-validate-watch=" 'user.password' "/><br />
			<span style="font-size:2em" ng-show="form.password2.$error.validator">Пароли слишком разные!</span>
			
			<input type="submit" ng-disabled="form.$invalid" ng-click="send(user)" value="Спасти и сохранить" />
			
			<br>
		form.$invalid:	{{form.$invalid}}
 	 </form>
</div>