<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-open="menu.isSidenavOpen">
    <md-toolbar class="md-tall md-hue-2">
        <span flex></span>
        <div layout="column" class="md-toolbar-tools-bottom inset">
            <user-avatar></user-avatar>
            <span></span>
            <div>Firstname Lastname</div>
            <div>email@domainname.com</div>
        </div>
    </md-toolbar>
    <md-content layout-padding>
        <md-list>
            <md-list-item ng-repeat="item in menu">
                <a>
                    <md-item-content md-ink-ripple layout="row" layout-align="start center">
                        <div class="inset">
                            <md-icon md-svg-icon="communication:{{item.icon}}" aria-label="Send Email" class="md-secondary md-hue-3" ></md-icon>
                        </div>
                        <div class="inset">{{item.title}}
                        </div>
                    </md-item-content>
                </a>
            </md-list-item>
            <md-divider></md-divider>
            <md-subheader>Management</md-subheader>
            <md-list-item ng-repeat="item in admin">
                <a>
                    <md-item-content md-ink-ripple layout="row" layout-align="start center">
                        <div class="inset">
                            <md-icon md-svg-icon="communication:{{item.icon}}" aria-label="Send Email" class="md-secondary md-hue-3" ></md-icon>
                        </div>
                        <div class="inset">{{item.title}}
                        </div>
                    </md-item-content>
                </a>
            </md-list-item>
        </md-list>
    </md-content>
</md-sidenav>