<md-dialog aria-label="Mango (Fruit)" ng-controller="MainController">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Login/Register</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="min-width:500px;max-height:510px; ">
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="one">
                    <md-tab-label>Login</md-tab-label>
                    <md-tab-body>
                        <md-content class="md-padding">
                            <h1 class="md-display-2">Login</h1>
                            <login-directive></login-directive>
                        </md-content>
                    </md-tab-body>
                </md-tab>
                <md-tab label="two">
                    <md-tab-label>Register</md-tab-label>
                        <md-tab-body>
                    <md-content class="md-padding">
                        <h1 class="md-display-2">Register</h1>
                            <register-directive></register-directive>
                    </md-content>
                        </md-tab-body>
                </md-tab>
            </md-tabs>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="go('feed');cancel();" md-autofocus>
                Feed
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>