/* app css stylesheet */

input[disabled]{
  color:gray;
}
body {
  background: url(img/wall.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
md-content.md-default-theme, md-content {
    background-color: transparent;
}
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
.main-footer {
  background-color: lightblue;
  height:5%;
  width:100%;
  position: fixed;
  bottom: 0;
  font-size:0.6em;
  text-align: center;

}
.main-footer .footer-text {
    padding-top: 5px;
}

.non-scroll-box {
  overflow: hidden;
      margin: 20% 20% 20% 20%;
}

.hide-scroll {
      position: absolute;
    padding: 20% 20% 20% 20%;
    overflow-y: scroll;
    top: 0;
    left: 0;
    right: -15px;
    bottom: 0;
}

.post-directive {
    border-width: 1px;
    border-radius: 6px;
    border-color: gray;
    border-style: solid;
    margin: 0 25px 0 25px;
    opacity: 0.8;
    background-color: lightgray;

}

   .post-directive .author {
      float:left;
      color:crimson;
      font-weight: bolder;
      margin-left: 2em;
      opacity: 1;
    }
    .post-directive .time {
      float: right;
      margin-right: 2em;  
      opacity: 1; 
    }
    .post-directive .main-text {
      clear: both;
      margin: 1em 0.5em 1em 0.5em;
      font-size: 2em;
      opacity: 1;
      
    }
    .post-directive .love{
        margin: 0 0 0 5em;
        display:none;
        opacity: 1;
    }
    .post-directive .love .image {
            
      width:25px;
      height:25px;
      margin-bottom: 5px;
      opacity: 1;
    }

.register-directive {
      text-align: center;
      width:60%;
      margin-right: auto;
      margin-left: auto;
    }
 .register-directive .registration-header{  
    font-size: 3em;
    color: blue;
    }
 .register-directive .registration-subheader {
   font-size: 1.5em;
   color: royalblue
 }
  .register-directive .registration-form  {
     font-size: 1.2em;
     color: darkslategray;
  } 