<md-list-item class="md-3-line" ng-click="null">
	<user-avatar></user-avatar>
	<!--<img ng-src="{{model.face}}?{{model.$index}}" class="md-avatar" alt="{{model.author}}" />-->
	<div class="md-list-item-text" layout="column">
		<h3>{{model.author}}</h3>
		<h4>{{model.time | date:"MM/dd/yyyy @ HH:mm"}}</h4>
		<p>
			{{model.body}}
		</p>
	</div>
</md-list-item>
<md-divider hide-sm ng-if="!model.$last"></md-divider>
<md-divider hide-gt-sm ng-if="!model.$last"></md-divider>
