<md-toolbar>
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings" ng-click="toggleSidenav('left')">
            <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
        </md-button>
        <h2>
            <span>Petushatnik</span>
        </h2>
        <span flex></span>
        <md-button ng-click="go('/');cancel();" md-autofocus>
            Home
        </md-button>
        <md-button ng-click="go('feed');cancel();" md-autofocus>
            Feed
        </md-button>
        <span flex></span>
        <md-button class="md-warn md-raised" ng-click="getHooked($event)" >
            Get Hooked
        </md-button>
        <md-button class="md-icon-button" aria-label="Favorite">
            <md-icon md-svg-icon="img/icons/favorite.svg" style="color: greenyellow;"></md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="More">
            <md-icon md-svg-icon="img/icons/more_vert.svg"></md-icon>
        </md-button>
    </div>
</md-toolbar>